@import 
url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,800,900');

img.blur {
  -webkit-filter: blur(4px);
  filter: blur(4px);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
}

nav a {
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  padding: .5em;
  color: black;
}

.appSummary {
  text-align:center;
  margin-top:50px;
  margin-bottom:50px;
}

.download {
  text-align:center;
  margin-top:50px;
  margin-bottom:50px;
}

.home {
  margin:0 auto;
}

#footer {
  background-color:#efd1c6;
  padding-top:150px;
  margin-top:50px;
  padding-bottom:150px;
}

body {
  position:relative;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  /* text-align: center; */
}

#delete-btn {
  background-color: #800000 !important; 
}

.about-images {
  float: left;
  width: 150px;
}

.about-words {
  float: none;
}

.logo-img {
  float: left;
  /* padding: 10px 0px; */
  margin: 0px 20px 0px -20px;
  width: 120px;
}

/* .card {
  flex: 1;
  padding: 16px;
} 

.card-containers {
  display: flex;
  width: 20%;
} */

.card-title {
  font-weight: 600;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-container > div {
  background-color:lightblue;
  width: 250px;
  margin: 5px;
  text-align: center;
  line-height: 25px;
  padding: 10px;
}
