.jumbotron {
			
  position:relative;
  overflow:hidden;
  text-align:center;
  margin-top:50px;

}

.jumbotron .container {

  position:relative;
  z-index:2;

  background:rgba(0,0,0,0.2);
  padding:2rem;
  border:1px solid rgba(0,0,0,0.1);
  border-radius:3px;
  
}

.jumbotron-background {

  object-fit:cover;
  font-family: 'object-fit: cover;';
  position:absolute;
  top:0;
  z-index:1;
  width:100%;
  height:100%;
  opacity:0.5;

}

.appSummary {

  text-align:center;
  margin-top:50px;
  margin-bottom:50px;

}

.download {

text-align:center;
margin-top:50px;
margin-bottom:50px;

}

.home {

  margin:0 auto;

}

#footer {

  background-color:#efd1c6;
  padding-top:150px;
  margin-top:50px;
  padding-bottom:150px;

}

body {

  position:relative;

}