<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>JACT</title>
        
        <link rel="stylesheet" type="text/css" href="static/style.css">
		
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>

    <body data-spy="scroll" data-target="#navbar" data-offset="150">

        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="navbar">
			<a class="navbar-brand" href="/">JACT</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/about">About Us</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/portfolio">Portfolio</a>
					</li>
				</ul>

			</div>
        </nav>
        
        <div class="jumbotron jumbotron-fluid bg-dark" id="jumbotron">
  
			<div class="jumbotron-background">
				
			</div>

			<div class="container text-white ">

				<h1 class="display-4">Welcome to JACT</h1>
				<p class="lead">A Description</p>

			</div>
		</div>

		<div class="container">
		
			<div class="appSummary">
			
				<h1>Preview</h1>
			
			</div>
		
		</div>
		
		
		<div id="footer">
			<div class="download">

				<h2>Contact Us!</h2>
				
			</div>
		</div>

        <div id="user_list">
        {% for user in users %}
            <h2>
              {{ user.fname }}{{ user.lname }}
            </h2>
            <p>
              <b>City</b>: {{ user.city }}
            </p>
        {% endfor %}
        </div>

        <script type="text/javascript">
		
			$(function () { objectFitImages() });
		
        </script>
        
    </body>
</html>